<template>
  <div class="main">
    <Header />
    <router-view />
    <Footer />
  </div>
</template>
<style lang="scss">
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>

<script lang="ts">
import { defineComponent } from "vue";
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";

const App = defineComponent({
  components: {
    Header,
    Footer,
  },
});
export default App;
</script>
