$color_primary: #fec23d;
$color_primary_dark: #ce9c2f;
$color_secondary: #020202;

$color_white: #fff;

$gradient_primary: linear-gradient(180deg, #FEC23D 0%, #F1DB8C 100%);
$shadow_primary: 0px 2px 2px 0px rgba(0,0,0,0.25);
$shadow_card: 0px 0px 4px 0px rgba(0,0,0,0.25);

$shadow_epic: 13px 0px 0px -6px rgba($color_primary_dark, 0.9), 30px 0px 0px -15px rgba($color_primary_dark, 0.5);