$window_small: 575px;
$window_medium: 768px;
$window_large: 992px;
$window_xlarge: 1200px;

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 100vw;
  // extra small
  @media (max-width: $window_small) {
    width: 100%;
    max-width: 100vw;
  }
  // small
  @media (min-width: $window_small) {
    width: 570px;
  }
  // medium
  @media (min-width: $window_medium) {
    width: 100%;
    max-width: 100vw;
  }
  // large
  @media (min-width: $window_large) {
    width: 970px;
  }
  // extra large
  @media (min-width: $window_xlarge) {
    width: 1110px;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    &-center-center {
      justify-content: center;
      align-items: center;
    }
    &-space-between-center {
      justify-content: space-between;
      align-items: center;
    }
  }
  &-column {
    display: flex;
    flex-direction: column;
    &-start-center {
      align-items: flex-start;
      justify-content: center;
    }
    &-center-center {
      align-items: center;
      justify-content: center;
    }
  }
}
