<template>
  <div class="container container-column container-column-center-center">
    <h1>Llista de Clients</h1>
    <div class="list">
      <router-link
        v-for="customer in customers"
        :key="customer._id"
        class="list-item container-row container-row-space-between-center"
        :to="{name: 'Customer', params: { id: customer._id }}"
      >
        <div>
          <span class="name">{{
            `${customer.givenName} ${customer.familyName1}`
          }}</span>
          <div class="info container-row">
            <span>id: {{ customer.customerId }}</span>
            <span>{{ customer.docType }}: {{ customer.docNum }}</span>
            <span>tlf: {{ customer.phone }}</span>
          </div>
        </div>
        <div class="container-row container-row-center-center">
          <svg class="shape" style="width:24px;height:24px" viewBox="0 0 24 24">
            <path
              d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
            />
          </svg>
        </div>
      </router-link>
    </div>
  </div>
</template>
<style lang="scss">
@import "../@Theme/styles";
.container {
  flex: 1;
}
.list {
  .list-item {
    padding: 10px 20px;
    background-color: $color_white;
    width: 500px;
    max-width: 100%;
    margin: 10px 0;
    box-shadow: $shadow_card;
    border-radius: 10px;
    .name {
      font-weight: bold;
      font-size: 22px;
      color: $color_primary;
      margin-bottom: 10px;
      display: block;
    }
    .info span {
      margin-right: 10px;
    }
  }
  .shape path {
    fill: $color_primary;
  }
}
</style>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "CustomerList",
  props: {
    customers: {
      type: [],
      required: true,
    },
  },
});
</script>
