<template>
  <div v-if="customer"
    class="customer-head container container-row container-row-space-between-center"
  >
    <div class="avatar">
      <svg viewBox="0 0 24 24">
        <path
          d="M12,1L3,5V11C3,16.55 6.84,21.74 12,23C17.16,21.74 21,16.55 21,11V5L12,1M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M17.13,17C15.92,18.85 14.11,20.24 12,20.92C9.89,20.24 8.08,18.85 6.87,17C6.53,16.5 6.24,16 6,15.47C6,13.82 8.71,12.47 12,12.47C15.29,12.47 18,13.79 18,15.47C17.76,16 17.47,16.5 17.13,17Z"
        />
      </svg>
    </div>
    <div class="info container-column container-column-start-center">
      <h1>{{ `${customer.givenName} ${customer.familyName1}` }}</h1>
      <span>{{ `${customer.docType}: ${customer.docNum}` }}</span>
      <span>tlf: {{ customer.phone }}</span>
      <span>email: {{ customer.email }}</span>
    </div>
    <div class="menu">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"
        />
      </svg>
    </div>
  </div>
</template>
<style lang="scss">
@import "../@Theme/styles";
  .customer-head {
    min-height: 300px;
    background: $gradient_primary;
    padding: 20px;
    margin: 30px auto;
    box-shadow: $shadow-primary;
    border-radius: 10px;
    .avatar {
        margin-left: 30px;
        border-radius: 300px;
        padding: 30px;
        background: $color_white;
        svg {
            height: 100px;
            width: 100px;
            path {
                fill: $color_primary;
                opacity: 0.8;
            }
        }
    }
    .info {
        flex: 1;
        background: $color_white;
        border-radius: 10px;
        padding: 40px 20px;
        margin: 0px 50px;
        color: $color_secondary;
        box-shadow: $shadow_epic;
        span {
            margin: 5px 10px;
            font-weight: bold;
            font-size: 16px;
        }
        h1 {
            flex: 1;
            margin-bottom: 20px;
        }
    }
    .menu {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
        svg {
            border-radius: 100px;
            padding: 10px;
            cursor: pointer;
            &:hover {
                background-color: rgba($color_primary_dark, 0.5);
            }
        }
    }
  }
</style>

<script lang="ts">
import { defineComponent } from "vue";

const CustomerHeading = defineComponent({
    props: {
        customer: {}
    }
});

export default CustomerHeading;
</script>