<template>
  <div class="footer">
    <div class="container container-row container-row-center-center">
      <img src="../assets/logo.svg" alt="logo" />
    </div>
  </div>
</template>
<style lang="scss">
@import "../@Theme/styles";
.footer {
    height: 200px;
    background: $color_secondary;
    color: $color_secondary;
    .container {
        height: 100%;
        img {
            background: $color_white;
            padding: 10px 30px;
            border-radius: 100px;
        }
    }
}
</style>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Footer",
});
</script>
