<template>
  <div class="nav-bar">
    <div class="container container-row container-row-space-between-center">
      <router-link :to="{ name: 'Home' }">
        <img src="../assets/logo.svg" alt="logo" />
      </router-link>
      <router-link :to="{ name: 'Home' }">
        <span>HOME</span>
      </router-link>
      <span>Octavi Prats</span>
    </div>
  </div>
</template>
<style lang="scss">
@import "../@Theme/styles";
.nav-bar {
  background-color: $color_white;
  box-shadow: $shadow_primary;
  .container {
    padding: 10px 0;
  }
  a {
    span {
      font-weight: bold;
    }
  }
}
</style>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Header",
});
</script>
