<template>
    <div class="container">
        <h1>productes</h1>
        <div class="product-list container-row container-row-center-center">
            <div class="item container-column container-column-start-center" v-for="product in products" :key="product._id">
                <h2>{{product.productName}}</h2>
                <span class="terminal">{{product.numeracioTerminal}}</span>
                <span class="date">{{product.soldAt}}</span>
                <span class="badge">{{product.productTypeName}}</span>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
@import "../@Theme/styles";
h1 {
    text-transform: capitalize;
}
.product-list  {
    margin: 20px;
    .item {
        background: $color_white;
        box-shadow: $shadow_card, $shadow_epic;
        border-radius: 10px;
        padding: 40px 40px;
        margin: 10px 30px;
        position: relative;
        h2 {
            margin-bottom: 10px;
        }
        .date {
            color: rgba($color: $color_secondary, $alpha: 0.5);
            font-size: 10px;
        }
        .badge {
            color: $color_white;
            background: $color_primary;
            border-radius: 100px;
            padding: 5px 15px;
            font-weight: bold;
            position: absolute;
            top: 5px; right: 5px;
        }
    }
}
</style>

<script lang="ts">
import { defineComponent } from "vue";

const Products = defineComponent({
    props: {
        products: []
    }
});

export default Products;
</script>