<template>
  <div class="customer-page">
    <CustomerHeading :customer="customer" />
    <Products :products="customer.products" />
  </div>
</template>
<style lang="scss">
@import "../@Theme/styles";
.customer-page {
  height: 100%;
  flex: 1;
}
</style>

<script lang="ts">
import { defineComponent } from "vue";
import CustomerDataService from "../services/customers";
import CustomerHeading from "../components/CustomerHeading.vue";
import Products from "../components/Products.vue";

const Customer = defineComponent({
  components: { CustomerHeading, Products },
  data() {
    return {
      customer: {},
    };
  },
  mounted() {
    CustomerDataService.getSingleCustomer(this.$route.params.id)
      .then((res: any) => {
        this.customer = res.data.data;
      })
      .catch((e: any) => console.error(e));
  },
});

export default Customer;
</script>
