<template>
  <div class="home">
    <CustomerList :customers="customers"/>
  </div>
</template>
<style lang="scss">
.home {
  min-height: 100%;
  flex: 1;
  margin: 50px auto;
}
</style>

<script lang="ts">
import { defineComponent } from "vue";
import CustomerDataService from "../services/customers";
import CustomerList from '../components/CustomerList.vue';

const Home = defineComponent({
  components: {
    CustomerList
  },
  data() {
    return {
      customers: [],
    };
  },
  mounted() {
    CustomerDataService.getAll()
      .then((res: any) => {
        this.customers = res.data.data;
      })
      .catch((e: any) => console.error(e));
  },
});

export default Home;
</script>
